$colorbg: grey;

.navbar ul li a:hover{
    color: $colorbg;
}

.header_contactanos nav ul li a:hover{
    color: $colorbg;
}

.header_productos  nav ul li a:hover{
    color: $colorbg;
}

.header_nosotros nav ul li a:hover{
    color: $colorbg;
}

.header_unete nav ul li a:hover{
    color: $colorbg;
}



