$colorbg: grey;

$thumbnail-border-color: rgb(122, 27, 255);
$thumbnail-border-width: 10px;

.img-thumbnail{
    border-color: $thumbnail-border-color;
    border-width: $thumbnail-border-width;
    margin-top: 20px;
}

.navbar ul li a:hover{
    color: $colorbg;
}

.header_contactanos nav ul li a:hover{
    color: $colorbg;
}

.header_productos  nav ul li a:hover{
    color: $colorbg;
}

.header_nosotros nav ul li a:hover{
    color: $colorbg;
}

.header_unete nav ul li a:hover{
    color: $colorbg;
}

@mixin fontstyle($color) {
    color: blue;
    background-color: $color;
}

.tituloindex {
    @include fontstyle(grey);
}


