*{
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Nike;
    src:  url(../tipografia/futuraCondensedExtraBold.otf );
}

@font-face {
    font-family: Letraanimada;
    src: url(../tipografia/organicRelief.ttf);
}

/* config index */

.body1{
    background-color: black;
}

.grilla{
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

header{
    grid-area: header;
    display: flex;
    flex-direction: row;
    font-family: Nike;
    background-color: #000000;
    text-align: center;
}

.nav-link active{
    color: white;
}

.main1{
    grid-area: main;
    background-image:url( https://cdn.create.vista.com/api/media/medium/198498184/stock-photo-pink-purple-smoke-abstract-black?token=);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    width: 1250px;
} 

.titulodeimagen{
    color: #03006B;
    font-weight: bold;
}

.tituloindex{
    font-family: Letraanimada;
    color: white;
    border: 10px double white;
}

footer{
    grid-area: footer;
    color: rgb(255, 255, 255);
    background-color: #000000;
    font-family: Nike;
    width: 1250px;
    height: 6cm;
    background: radial-gradient(
        300% 200% at 50% 96%,
        rgb(137, 21, 253) 12%,
        rgb(0, 0, 0) 24%
      );
}

footer div{
    text-align: center;
    margin: 10px 10px 10px 15px;
    display: inline-block;
}

#id{
    color: white;
    font-family: Letraanimada;
    font-size: 15px;
}

@media screen and (min-width: 700px) and (max-width: 768px){

    .main1{
        grid-area: main;
        background-image:url( https://cdn.create.vista.com/api/media/medium/198498184/stock-photo-pink-purple-smoke-abstract-black?token=);
        background-repeat: none;
        background-size: cover;
    } 

    .tituloindex{
        font-family: Letraanimada;
        color: white;
        padding: 10px 1px 10px 13px;
        border: 10px double white;
        margin: 10px 1px 0px 0cm;
    }

    .card{
        width: max-content;
    }

}

@media screen and (min-width: 768px) and (max-width: 1024px){

}

@media screen and (min-width: 1024px){

}

/* config de Contacto*/

body{
    background-color: black;
}

.grilla_contacto{
    display: grid;
    grid-template-areas: 
        "header_contacto" 
        "contactanos_contacto" 
        "footer_contacto";
}

.header_contactanos{
    grid-area: header_contacto;
    display: flex;
    flex-direction: row;
    font-family: Nike;
    background-color: #000000;
    text-align: center;
    padding: auto;
}

.maincontacto{
    grid-area: contactanos_contacto;
    background-image:url( https://i0.wp.com/thesolehouse.com/wp-content/uploads/2022/02/air-max-90-bacpn.jpg?fit=1000%2C600&ssl=1);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    width: 1250px;
    height: 700px;
}

.cuadrado{
    grid-area: contactanos_contacto;
    width: 310px;
    height: 500px;
    background: radial-gradient(
        500% 170% at 50% 93%,
        rgba(0, 0, 0, 1) 12%,
        rgb(46, 46, 46) 24%
      );
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      background-position: center center;
      margin: 1cm 1cm 1cm 3cm;
}

.section_contacto{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    color: white;
}

.section_contacto .h1_contacto{
    border: 2px dashed white;
    padding-left: 25px;
    color: white;

}

.footer_contacto{
    grid-area: footer_contacto;
    color: rgb(255, 255, 255);
    background-color: #000000;
    font-family: Nike;
    width: 1250px;
    height: 6cm;
    background: radial-gradient(
        300% 200% at 50% 96%,
        rgb(137, 21, 253) 12%,
        rgb(0, 0, 0) 24%
      );
      transform: translate(0px, 0px);
      font-size: 15px;
}

.footer_contacto div{
    justify-content: center;
    text-align: center;
    margin: 10px 10px 10px 15px;
    display: inline-block;
    color: white;
    font-size: 15px;
    margin-left: 20px;
}

@media screen and (min-width: 700px) and (max-width: 768px){

}

@media screen and (min-width: 768px) and (max-width: 1024px){

    .footer_contacto div{
        text-align: center;
        margin: 10px 10px 10px 15px;
        display: inline-block;
        color: white;
        font-size: 30px;
        margin-left: 90px;
    }

}

@media screen and (min-width: 1024px){

    .footer_contacto div{
        text-align: center;
        margin: 10px 10px 10px 15px;
        display: inline-block;
        color: white;
        font-size: 30px;
        margin-left: 150px;
    }

}

/* config de productos*/

.grilla_productos{
    display: grid;
    grid-template-areas: 
    "header_productos"  
    "ropa1_productos"  
    "footer_productos" ;
}

.header_productos{
    grid-area: header_productos;
    font-family: Nike;
    background-color: #000000;
    text-align: center;
    padding: auto;
    width: 1250px;
}

.productos_productos{
    grid-area: ropa1_productos;
    display: flex;
    flex-direction: column;
    background-image:url( https://cdn.create.vista.com/api/media/medium/198499840/stock-photo-creative-black-background-purple-smoke?token=);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    height: 1150px;
    width: 1250px;
}

.section_productos{
    grid-area: ropa1_productos;
}

.row{
    grid-area: ropa1_productos;
}

.titulo_ropa{
    grid-area: ropa1_productos;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 2cm;
    height: 2cm;
}

.h1_ropa{
    height: 4cm;
    width: 20cm;
    justify-content: center;
    align-items: center;
    font-family: Letraanimada;
    color: rgb(137, 21, 253);
}

.footer_productos{
    grid-area: footer_productos;
    color: rgb(255, 255, 255);
    background-color: #000000;
    font-family: Nike;
    width: 1250px;
    height: 6cm;
    background: radial-gradient(
        300% 200% at 50% 96%,
        rgb(137, 21, 253) 12%,
        rgb(0, 0, 0) 24%
      );
      transform: translate(0px, 0px);
      font-size: 15px;
}

.footer_productos div{
    justify-content: center;
    text-align: center;
    margin: 10px 10px 10px 15px;
    display: inline-block;
    color: white;
    font-size: 15px;
    margin-left: 20px;
}

@media screen and (min-width: 767px){

    .footer_productos div{
        justify-content: center;
        text-align: center;
        margin: 10px 10px 10px 15px;
        display: inline-block;
        color: white;
        font-size: 15px;
        margin-left: 20px;
    }

}

@media screen and (min-width: 768px){

    .footer_productos div{
        text-align: center;
        margin: 10px 10px 10px 15px;
        display: inline-block;
        color: white;
        font-size: 30px;
        margin-left: 90px;
    }

}

@media screen and (min-width: 1024px){

    .footer_productos div{
        text-align: center;
        margin: 10px 10px 10px 15px;
        display: inline-block;
        color: white;
        font-size: 30px;
        margin-left: 150px;
    }

}

/* config de nosotros*/

.grilla_nosotros{
    display: grid;
    grid-template-areas:
        "header_nosotros"
        "nosotros_nosotros"
        "footer_nosotros";
}

.header_nosotros{
    grid-area: header_nosotros;
    font-family: Nike;
    background-color: #000000;
    text-align: center;
    padding: auto;
    width: 1250px;
}

.h1_nosotros{
    color: rgb(26, 127, 150);
    font-size: 60px;
    font-weight: bold;
}

.nosotros_nosotros{
    grid-area: nosotros_nosotros;
    background-image:url( https://conteudo.imguol.com.br/c/esporte/cf/2022/01/17/sede-global-da-nike-em-beaverton-em-oregon-nos-estados-unidos-1642455392796_v2_4x3.jpg);
    background-repeat: none;
    background-size: cover;
    height: 30cm;
    width: 1489px;
}

.footer_nosotros{
    color: rgb(255, 255, 255);
    background-color: #000000;
    font-family: Nike;
    width: 1250px;
    height: 6cm;
    background: radial-gradient(
        300% 200% at 50% 96%,
        rgb(137, 21, 253) 12%,
        rgb(0, 0, 0) 24%
      );
      transform: translate(0px, 0px);
      font-size: 15px;
}

.footer_nosotros div{
    margin: 1cm 1cm 1cm 2cm;
    display: inline-block;
}

@media screen and (min-width: 767px){

    .footer_nosotros div{
        justify-content: center;
        text-align: center;
        margin: 10px 10px 10px 15px;
        display: inline-block;
        color: white;
        font-size: 15px;
        margin-left: 20px;
    }
}

@media screen and (min-width: 768px){

    .footer_nosotros div{
        text-align: center;
        margin: 10px 10px 10px 15px;
        display: inline-block;
        color: white;
        font-size: 30px;
        margin-left: 90px;
    }
}

@media screen and (min-width: 1024px){

    .footer_nosotros div{
        text-align: center;
        margin: 10px 10px 10px 15px;
        display: inline-block;
        color: white;
        font-size: 30px;
        margin-left: 150px;
    }
}

/* config de unete a nosotros*/

.grilla_unete{
    display: grid;
    grid-template-areas: 
        "header_unete"
        "unete_unete"
        "footer_unete";
}

.header_unete{
    grid-area: header_unete;
    font-family: Nike;
    background-color: #000000;
    text-align: center;
    padding: auto;
    width: 1250px;
}

.unete_unete{
    grid-area: unete_unete;
    background-image:url( https://resourcepacks24.de/storage/screenshots/461430-91163bac-be3d-45f9-a177-560fcec7f150.jpg);
    background-repeat: none;
    background-size: cover;
    height: 40cm;
    width: 1489px;
}

.h1_unete{
    color: rgb(1, 61, 104);
    font-size: 50px;
    font-weight: bold;
}

.col-xs-12_col-sm-12_col-md-6_col-lg-6{
    margin-top: 1cm;
}

.footer_unete{
    color: rgb(255, 255, 255);
    background-color: #000000;
    font-family: Nike;
    width: 1250px;
    height: 6cm;
    background: radial-gradient(
        300% 200% at 50% 96%,
        rgb(137, 21, 253) 12%,
        rgb(0, 0, 0) 24%
      );
      transform: translate(0px, 0px);
      font-size: 15px;
}

.footer_unete div{
    margin: 1cm 1cm 1cm 2cm;
    display: inline-block;
}

@media screen and (min-width: 767px){

    .footer_unete div{
        justify-content: center;
        text-align: center;
        margin: 10px 10px 10px 15px;
        display: inline-block;
        color: white;
        font-size: 15px;
        margin-left: 20px;
    }
}

@media screen and (min-width: 628px){

    .footer_unete div{
        text-align: center;
        margin: 10px 10px 10px 15px;
        display: inline-block;
        color: white;
        font-size: 30px;
        margin-left: 90px;
    }
}

@media screen and (min-width: 1024px){

    .footer_unete div{
        text-align: center;
        margin: 10px 10px 10px 15px;
        display: inline-block;
        color: white;
        font-size: 30px;
        margin-left: 150px;
    }
}

.progreso{
    background-image:url( https://lh3.googleusercontent.com/w9A7Qzfyjsq0PutQWKkh7yQQxTxgnqmpLK-R_N0eUuVQZciUlgPkBRtVSJa8TdGxilPTHvJu8th87Awu0pNpdIygXqcsl9Bu2EYBbNA=w600);
    background-repeat: none;
    background-size: cover;
    height: 1500px;
    width: 1500px;
}

.h1_progreso{
    font-size: 4cm;
    color: white;
}