*{
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Nike;
    src:  url(../tipografia/futuraCondensedExtraBold.otf );
}

@font-face {
    font-family: Letraanimada;
    src: url(../tipografia/organicRelief.ttf);
}

/* config index */

.body1{
    background-color: black;
}

.grilla{
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

header{
    grid-area: header;
    display: flex;
    flex-direction: row;
    font-family: Nike;
    background-color: #000000;
    height: 170px;
    text-align: center;
    width: 1489px;
}

.navbar{
    grid-area: header;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 50px;
    align-items: center;
    margin-right: 0px;
}

.navbar .container-fluid{
    margin-left: 350px;
}

.navbar ul li{
    grid-area: header;
    display: flex;
    list-style-type: none;
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 30px;
    margin-left: 0%;
}

.navbar ul li:hover{
    transform: scale(130%);
}

.navbar ul li a{
    grid-area: header;
    color: white;
    text-decoration:none;
    font-size: 1cm;
}

.navbar ul li a:hover{
    color: rgb(33, 27, 203);
}

header div img{
    grid-area: header;
    height: 170px;
    width: 200px;
}

.main1{
    grid-area: main;
    background-image:url( https://cdn.create.vista.com/api/media/medium/198498184/stock-photo-pink-purple-smoke-abstract-black?token=);
    background-repeat: none;
    background-size: cover;
    width: 1489px;
} 

.titulodeimagen{
    color: #03006B;
    font-weight: bold;
}

.tituloindex{
    font-family: Letraanimada;
    color: white;
    padding: 20px 13px 20px 13px;
    border: 10px double white;
    margin: 10px 13cm 10px 13cm;
    text-align: center;

}

footer{
    grid-area: footer;
    color: rgb(255, 255, 255);
    background-color: #000000;
    font-family: Nike;
    text-align: center;
    width: 1489px;
    height: 6cm;
    background: radial-gradient(
        300% 200% at 50% 96%,
        rgb(137, 21, 253) 12%,
        rgb(0, 0, 0) 24%
      );
      transform: translate(0px, 0px);
}

footer div{
    margin: 1cm 1cm 1cm 2cm;
    display: inline-block;
}

#id{
    color: white;
    font-family: Letraanimada;
}

@media screen and (min-width: 767px){

    header{
        background-color: white;
    }
    nav ul li a{
        color: rgb(0, 0, 0);
    }

    footer{
        background-color: white;
        color: rgb(0, 0, 0);
    }

    #id{
        color: rgb(0, 0, 0);
    }

}

@media screen and (min-width: 768px){

    header{
        background-color: rgb(255, 0, 0);
    }
    nav ul li a{
        color: rgb(234, 255, 0);
    }

    footer{
        background-color: rgb(255, 0, 0);
        color: rgb(234, 255, 0);
    }

    #id{
        color: rgb(234, 255, 0);
    }

}

@media screen and (min-width: 1024px){

    header{
        background-color: rgb(0, 0, 0);
    }
    nav ul li a{
        color: rgb(255, 255, 255);
    }

    footer{
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
    }

    #id{
        color: rgb(255, 255, 255);
    }

}

/* config de Contacto*/

body{
    background-color: black;
}

.grilla_contacto{
    display: grid;
    grid-template-areas: 
        "header_contacto" 
        "contactanos_contacto" 
        "footer_contacto";
}

.header_contactanos{
    grid-area: header_contacto;
    display: flex;
    flex-direction: row;
    font-family: Nike;
    background-color: #000000;
    height: 170px;
    text-align: center;
    padding: auto;
    width: 1489px;
}

.header_contactanos nav ul li{
    grid-area: header_contacto;
    list-style-type: none;
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 30px;
}

.header_contactanos nav ul li:hover{
    transform: scale(130%);
}

.header_contactanos nav ul li a{
    grid-area: header_contacto;
    color: white;
    text-decoration:none;
    font-size: 1cm;
}

.header_contactanos ul li a:hover{
    color: rgb(33, 27, 203);
}

.header_contactanos img{
    grid-area: header_contacto;
    height: 170px;
    width: 200px;
}

.maincontacto{
    grid-area: contactanos_contacto;
    background-image:url( https://i0.wp.com/thesolehouse.com/wp-content/uploads/2022/02/air-max-90-bacpn.jpg?fit=1000%2C600&ssl=1);
    background-size: cover;
    width: 1489px;
    height: 1000px;
}

.cuadrado{
    grid-area: contactanos_contacto;
    width: 310px;
    height: 500px;
    background: radial-gradient(
        500% 170% at 50% 93%,
        rgba(0, 0, 0, 1) 12%,
        rgb(46, 46, 46) 24%
      );
    justify-content: center;
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 600px;
}

.section_contacto{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    color: white;
}

.section_contacto .h1_contacto{
    border: 2px dashed white;
    padding-left: 25px;
    color: white;

}

.footer_contacto{
    grid-area: footer_contacto;
    color: white;
    background-color: #000000;
    font-family: Nike;
    text-align: center;
    height: 6cm;
    width: 1489px;
    background: radial-gradient(
        300% 200% at 50% 96%,
        rgb(137, 21, 253) 12%,
        rgb(0, 0, 0) 24%
      );
      transform: translate(0px, 0px);
}

.footer_contacto div{
    margin: 1cm 1cm 1cm 2cm;
    display: inline-block;
}

@media screen and (min-width: 767px){

    .header_contactanos{
        background-color: #ffffff;
    }

    .header_contactanos nav ul li a{
        color: rgb(0, 0, 0);
    }

    .footer_contacto{
        color: rgb(0, 0, 0);
        background-color: #ffffff;
    }
}

@media screen and (min-width: 768px){

    .header_contactanos{
        background-color: rgb(255, 0, 0);
    }

    .header_contactanos nav ul li a{
        color: rgb(234, 255, 0);
    }

    .footer_contacto{
        background-color: rgb(255, 0, 0);
        color: rgb(234, 255, 0);
    }
}

@media screen and (min-width: 1024px){

    .header_contactanos{
        background-color: #000000;
    }

    .header_contactanos nav ul li a{
        color: rgb(255, 255, 255);
    }

    .footer_contacto{
        color: rgb(255, 255, 255);
        background-color: #000000;
    }
}

/* config de productos*/

.grilla_productos{
    display: grid;
    grid-template-areas: 
    "header_productos"  
    "ropa1_productos"  
    "footer_productos" ;
}

.header_productos{
    grid-area: header_productos;
    font-family: Nike;
    background-color: #000000;
    height: 170px;
    text-align: center;
    padding: auto;
    width: 1489px;
}

.header_productos nav ul li{
    grid-area: header_productos;
    list-style-type: none;
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 30px;
}

.header_productos nav ul li:hover{
    transform: scale(130%);
    color: rgb(33, 27, 203);
}

.header_productos nav ul li a{
    grid-area: header_productos;
    color: rgb(255, 255, 255);
    text-decoration:none;
    font-size: 1cm;
}

.header_productos nav ul li a:hover{
    color: rgb(33, 27, 203);
}

.productos_productos{
    grid-area: ropa1_productos;
    display: flex;
    flex-direction: column;
    background-image:url( https://cdn.create.vista.com/api/media/medium/198499840/stock-photo-creative-black-background-purple-smoke?token=);
    background-repeat: none;
    background-size: cover;
    height: 1150px;
    width: 1489px;
}

.titulo_ropa{
    grid-area: ropa1_productos;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 2cm;
    height: 2cm;
}

.h1_ropa{
    height: 4cm;
    width: 20cm;
    justify-content: center;
    align-items: center;
    font-family: Letraanimada;
    color: rgb(137, 21, 253);
}

.section_productos{
    margin-top: 2cm;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.ropa1{
    grid-area: ropa1_productos;
    display: flex;
    flex-wrap: wrap;
    margin: 1cm 2cm 1cm 2cm;
    display: block;
    width: 250px;
    height: 375px;
    background-color: rgb(0, 0, 0);
}

.ropa1:hover{
    transform: scale(130%);
}

.footer_productos{
    grid-area: footer_productos;
    color: white;
    background-color: #000000;
    font-family: Nike;
    text-align: center;
    width: 1489px;
    height: 6cm;
    background: radial-gradient(
        300% 200% at 50% 96%,
        rgb(137, 21, 253) 12%,
        rgb(0, 0, 0) 24%
      );
      transform: translate(0px, 0px);
}

.footer_productos div{
    grid-area: footer_productos;
    margin: 1cm 1cm 1cm 2cm;
    display: inline-block;
}

@media screen and (min-width: 767px){

    .header_productos{
        background-color: #ffffff;
    }

    .header_productos nav ul li a{
        color: rgb(0, 0, 0);
    }

    .footer_productos{
        color: rgb(0, 0, 0);
        background-color: #ffffff;
    }

}

@media screen and (min-width: 768px){

    .header_productos{
        background-color: rgb(255, 0, 0);;
    }

    .header_productos nav ul li a{
        color: rgb(234, 255, 0);
    }

    .footer_productos{
        background-color: rgb(255, 0, 0);
        color: rgb(234, 255, 0);
    }

}

@media screen and (min-width: 1024px){

    .header_productos{
        background-color: #000000;
    }

    .header_productos nav ul li a{
        color: rgb(255, 255, 255);
    }

    .footer_productos{
        color: rgb(255, 255, 255);
        background-color: #000000;
    }

}

/* config de nosotros*/

.grilla_nosotros{
    display: grid;
    grid-template-areas:
        "header_nosotros"
        "nosotros_nosotros"
        "footer_nosotros";
}

.header_nosotros{
    grid-area: header_nosotros;
    font-family: Nike;
    background-color: #000000;
    height: 170px;
    text-align: center;
    padding: auto;
    width: 1489px;
}

.header_nosotros nav ul li{
    grid-area: header_nosotros;
    list-style-type: none;
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 30px;
}

.header_nosotros nav ul li:hover{
    transform: scale(130%);
}

.header_nosotros nav ul li a{
    grid-area: header_nosotros;
    color: rgb(255, 255, 255);
    text-decoration:none;
    font-size: 1cm;
}

.header_nosotros nav ul li a:hover{
    color: rgb(33, 27, 203);
}

.header_nosotros img{
    grid-area: header_nosotros;
    height: 170px;
    width: 200px;
}

.nosotros_nosotros{
    grid-area: nosotros_nosotros;
    background-image:url( https://conteudo.imguol.com.br/c/esporte/cf/2022/01/17/sede-global-da-nike-em-beaverton-em-oregon-nos-estados-unidos-1642455392796_v2_4x3.jpg);
    background-repeat: none;
    background-size: cover;
    height: 30cm;
    width: 1489px;
}

.footer_nosotros{
    grid-area: footer_nosotros;
    color: white;
    background-color: #000000;
    font-family: Nike;
    text-align: center;
    width: 1489px;
    height: 6cm;
    background: radial-gradient(
        300% 200% at 50% 96%,
        rgba(128, 0, 247, 1) 12%,
        rgb(0, 0, 0) 24%
      );
      transform: translate(0px, 0px);
}

.footer_nosotros div{
    margin: 1cm 1cm 1cm 2cm;
    display: inline-block;
}

@media screen and (min-width: 767px){

    .header_nosotros{
        background-color: #ffffff;
    }

    .header_nosotros nav ul li a{
        color: rgb(0, 0, 0);
    }

    .footer_nosotros{
        color: rgb(0, 0, 0);
        background-color: #ffffff;
    }
}

@media screen and (min-width: 768px){

    .header_nosotros{
        background-color: rgb(255, 0, 0);
    }

    .header_nosotros nav ul li a{
        color: rgb(234, 255, 0);
    }

    .footer_nosotros{
        background-color: rgb(255, 0, 0);
        color: rgb(234, 255, 0);
    }
}

@media screen and (min-width: 1024px){

    .header_nosotros{
        background-color: #000000;
    }

    .header_nosotros nav ul li a{
        color: rgb(255, 255, 255);
    }

    .footer_nosotros{
        color: rgb(255, 255, 255);
        background-color: #000000;
    }
}

/* config de unete a nosotros*/

.grilla_unete{
    display: grid;
    grid-template-areas: 
        "header_unete"
        "unete_unete"
        "footer_unete";
}

.header_unete{
    grid-area: header_unete;
    font-family: Nike;
    background-color: #000000;
    height: 170px;
    text-align: center;
    padding: auto;
    width: 1489px;
}

.header_unete nav ul li{
    grid-area: header_unete;
    list-style-type: none;
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 30px;
}

.header_unete nav ul li:hover{
    transform: scale(130%);
}

.header_unete nav ul li a{
    grid-area: header_unete;
    color: rgb(255, 255, 255);
    text-decoration:none;
    font-size: 1cm;
}

.header_unete nav ul li a:hover{
    color: rgb(33, 27, 203);
}

.header_unete img{
    grid-area: header_unete;
    height: 170px;
    width: 200px;
}

.unete_unete{
    grid-area: unete_unete;
    background-image:url( https://resourcepacks24.de/storage/screenshots/461430-91163bac-be3d-45f9-a177-560fcec7f150.jpg);
    background-repeat: none;
    background-size: cover;
    height: 30cm;
    width: 1489px;
}

.footer_unete{
    grid-area: footer_unete;
    color: white;
    background-color: #000000;
    font-family: Nike;
    text-align: center;
    width: 1489px;
    height: 6cm;
    background: radial-gradient(
        300% 200% at 50% 96%,
        rgba(128, 0, 247, 1) 12%,
        rgb(0, 0, 0) 24%
      );
      transform: translate(0px, 0px);
}

.footer_unete div{
    margin: 1cm 1cm 1cm 2cm;
    display: inline-block;
}

@media screen and (min-width: 767px){

    .header_unete{
        background-color: #ffffff;
    }

    .header_unete nav ul li a{
        color: rgb(0, 0, 0);
    }

    .footer_unete{
        color: rgb(0, 0, 0);
        background-color: #ffffff;
    }
}

@media screen and (min-width: 628px){

    .header_unete{
        background-color: rgb(255, 0, 0);
    }

    .header_unete nav ul li a{
        color: rgb(234, 255, 0);
    }

    .footer_unete{
        background-color: rgb(255, 0, 0);
        color: rgb(234, 255, 0);
    }
}

@media screen and (min-width: 1024px){

    .header_unete{
        background-color: #000000;
    }

    .header_unete nav ul li a{
        color: rgb(255, 255, 255);
    }

    .footer_unete{
        color: rgb(255, 255, 255);
        background-color: #000000;
    }
}
